{% capture egg %}
<span class="egg">egg</span>
{% endcapture %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> {{ page.title | default: "egg" }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="'egg' is an open-source, high performance e-graph and equality saturation toolkit.">
  <meta property="og:title" content="{{ page.title }}" />
  <link rel="icon" type="image/svg+xml" href="/assets/egg.svg">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <div style="text-align: center;">
    <h1 class="egg-heading">
      <img style="display: inline; vertical-align: middle;" src="/assets/egg.svg">
      <a href="/">
        <b class="egg">egg</b>:
        <span style="font-weight: normal;">
          <span class="word">
            <span class="egg-letter">e</span>-<span class="egg-letter">g</span>raphs
          </span>
          <span class="word">
            <span class="egg-letter">g</span>ood
          </span>
        </span>
      </a>
    </h1>
    <nav>
      <ul>
        <li><a href="https://github.com/egraphs-good/egg">GitHub</a></li>
        <li><a href="https://docs.rs/egg">Documentation</a></li>
        <li><a href="https://github.com/egraphs-good/egg/discussions">Blog &amp; Discussion</a></li>
        <li><a href="workshop">Workshop</a></li>
        <li><a href="https://egraphs.zulipchat.com">E-graphs Zulip</a></li>
      </ul>
    </nav>
  </div>

  <main>
    {{ content }}
  </main>

  {% if page.no-footer %}
  {% else %}
  <footer>
    Site last updated on {{ site.time | date: "%Y-%m-%d" }}.
    Edit me on <a href="https://github.com/egraphs-good/egraphs-good.github.io/">Github</a>.
  </footer>
  {% endif %}
</body>

</html>